<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Analysis of Political Tweets in Australia</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
    <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.3.0/material.blue_grey-red.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
    <link rel="stylesheet" href="{{url_for('static', filename='styles/main.css')}}"
</head>

<body>
    <div class="mdl-layout mdl-js-layout">
        <header class="mdl-layout__header--transparent">
            <div class="mdl-layout__header-row">
                <span class="mdl-layout-title" id="headerBarTitle"><strong>Analysis of Political Tweets in Australia</strong> - Group 71</span>
                <div class="mdl-layout-spacer"></div>
            </div>
            </header>
        <div class="mdl-layout__drawer">
            <span class="mdl-layout-title" >Options</span>
            <nav class="mdl-navigation">
                <a class="mdl-navigation__link" href="{{ url_for('display_map')}}">
                    <i class="material-icons" role="presentation">public</i>
                    Map</a>
                <a class="mdl-navigation__link" href="{{ url_for('graph')}}">
                    <i class="material-icons" role="presentation">insights</i>
                    Graphs</a>
                <a class="mdl-navigation__link" href="{{ url_for('word_cloud')}}">
                    <i class="material-icons" role="presentation">cloud</i>
                    Word Clouds</a>
            </nav>
        </div>
        <main class="mdl-layout__content">
            <h2>Welcome</h2>
            <div class = "mdl-grid" style="padding-top: 8%; margin: auto;">
                <div class="mdl-cell mdl-cell--3-col">
                </div>
                <div class="mdl-cell mdl-cell--2-col">
                    <div class="mdl-card mdl-shadow--2dp" style="width: 320px; margin-left: auto; margin-right: auto;">
                        <div class="mdl-card__title">
                          <h2 class="mdl-card__title-text">Maps</h2>
                        </div>
                        <div class="mdl-card__supporting-text">
                          View heatmap of Tweets or historical vote counts (2016 Federal Election) for major parties
                        </div>
                        <div class="mdl-card__actions mdl-card--border">
                          <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="{{ url_for('display_map')}}">
                            View Maps
                          </a>
                        </div>
                      </div>
                </div>
                <div class="mdl-cell mdl-cell--2-col">
                    <div class="mdl-card mdl-shadow--2dp" style="width: 320px; margin-left: auto; margin-right: auto;">
                        <div class="mdl-card__title">
                          <h2 class="mdl-card__title-text">Graphs</h2>
                        </div>
                        <div class="mdl-card__supporting-text">
                          View graphs of average sentiment score for Tweets in major Australian cities over the past decade.
                        </div>
                        <div class="mdl-card__actions mdl-card--border">
                          <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="{{ url_for('graph')}}">
                            View Graphs
                          </a>
                        </div>
                      </div>
                </div>
                <div class="mdl-cell mdl-cell--2-col">
                    <div class="mdl-card mdl-shadow--2dp" style="width: 320px; margin-left: auto; margin-right: auto;">
                        <div class="mdl-card__title">
                          <h2 class="mdl-card__title-text">Word Clouds</h2>
                        </div>
                        <div class="mdl-card__supporting-text">
                            View word clouds for Tweets by city or for all Tweets in database. <br/>
                        </div>
                        <div id="fillSpace" style="color: white;">This is to fill space</div>
                        <div class="mdl-card__actions mdl-card--border">
                          <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="{{ url_for('word_cloud')}}">
                            View word clouds
                          </a>
                        </div>
                      </div>
                </div>
                <div class="mdl-cell mdl-cell--3-col">
                </div>
            </div>
            <div id="groupMemberInfo">
                <h5>Group Members</h5>
                Aanchal Bhambhani - 1235772 <br/>
                Zixi Chen - 831860 <br/>
                Zexi Liu - 813212 <br/>
                Naresh Olladapu - 1233759 <br/>
                James Sun - 1140075 <br/>
            </div>
        </main>
    </div>
</body>
</html>