<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Map</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
    <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.1.3/material.blue_grey-red.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.2.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.2.0/mapbox-gl.css' rel='stylesheet'/>
    <link rel="stylesheet" href="{{url_for('static',filename='styles/map.css')}}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>

<body onload="initMap();displayHeatMap();">
    <div class="mdl-layout__container"> 
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer">
        <header class="mdl-layout__header">
            <div class="mdl-layout__header-row">
                <span class="mdl-layout-title" id="headerBarTitle">Map</span>
                <div class="mdl-layout-spacer"></div>
                <button id="map_menu"
                class="mdl-button mdl-js-button mdl-button--icon">
                <i class="material-icons">more_vert</i>
                </button>

                <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
                for="map_menu">
                <li class="mdl-menu__item" onclick="displayHeatMap()">Heatmap</li>
                <li class="mdl-menu__item" onclick="showSentiment()">Sentiment Scores</li>
                </ul>
            </div>
            </header>
        <div class="mdl-layout__drawer">
            <span class="mdl-layout-title" >Options</span>
            <nav class="mdl-navigation">
                <a class="mdl-navigation__link" href="{{ url_for('display_map')}}">Map</a>
                <a class="mdl-navigation__link" href="{{ url_for('graph')}}">Graphs</a>
                <a class="mdl-navigation__link" href="{{ url_for('word_cloud')}}">Word Clouds</a>
            </nav>
        </div>
        <main class="mdl-layout__content">
            <div id='map'></div>
        </main>
    </div>
    </div>
    <script src="{{url_for('static', filename='map.js')}}""></script>
</body>
</html>