<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Word Clouds</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
    <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.3.0/material.blue_grey-red.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
    <link rel="stylesheet" href="{{url_for('static', filename='styles/word_cloud.css')}}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>

<body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer">
        <header class="mdl-layout__header">
            <div class="mdl-layout__header-row">
                <span class="mdl-layout-title" id="headerBarTitle">Word Clouds</span>
                <div class="mdl-layout-spacer"></div>
            </div>
            </header>
        <div class="mdl-layout__drawer">
            <span class="mdl-layout-title" >Options</span>
            <nav class="mdl-navigation">
                <a class="mdl-navigation__link" href="{{url_for('index')}}">
                    <i class="material-icons" role="presentation">home</i>
                    Home</a>
                <a class="mdl-navigation__link" href="{{ url_for('display_map')}}">
                    <i class="material-icons" role="presentation">public</i>
                    Map</a>
                <a class="mdl-navigation__link" href="{{ url_for('graph')}}">
                    <i class="material-icons" role="presentation">insights</i>
                    Graphs</a>
                <a class="mdl-navigation__link" href="{{ url_for('word_cloud')}}">
                    <i class="material-icons" role="presentation">cloud</i>
                    Word Clouds</a>
            </nav>
        </div>
        <main class="mdl-layout__content">
            <form>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <select class="mdl-textfield__input" id="wordCloudOption">
                        <option value="none"></option>
                        <option value="all">All tweets</option>
                        <option value="city">By city</option>
                    </select>
                </div>
            </form>
            <div id="wordclouds">
                <span style="padding-left: 1%;">This page shows word clouds for either the Tweets in particular cities or all Tweets in the database. Please choose an option from the menu above to view word clouds.</span>
            </div>
        </main>
    </div>
    <script src="{{url_for('static', filename='wordCloud.js')}}"></script>
</body>
</html>