h1, h2, h3, h4, h6 {
    margin-left:20px;
}

.mdl-layout {
    background-image: url("../images/parliament.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color:white;
}

#groupMemberInfo {
    position:absolute;
    top: 10px;
    right: 10px;
}